<h1>Bienvenido</h1>
<button name="btnJugador" id="btnJugador">Jugador</button>

<script type="text/javascript">
    document.getElementById("btnJugador").onclick = function () {
        location.href = "./jugador";
    };
</script>

<button name="btnCiudad" id="btnCiudad">Ciudad</button>

<script type="text/javascript">
    document.getElementById("btnCiudad").onclick = function () {
        location.href = "./ciudad";
    };
</script>

<button name="btnLiga" id="btnLiga">Liga</button>

<script type="text/javascript">
    document.getElementById("btnLiga").onclick = function () {
        location.href = "./liga";
    };
</script>

<button name="btnEquipo" id="btnEquipo">Equipo</button>

<script type="text/javascript">
    document.getElementById("btnEquipo").onclick = function () {
        location.href = "./equipo";
    };
</script>